*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000c18;
}
.box{
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to bottom right, rgb(253, 6, 163), rgba(104, 25, 222, 0.67));
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: girar 1s infinite linear forwards ;
    -webkit-animation: girar 1s infinite linear forwards ;
}

@keyframes girar {
    0%{
        rotate: 0deg;
    }
    
    100%{
        rotate: 360deg;
    }
    
}

.child-box{
    width: 100%;
    height: 100%;
    background-color: #000c18;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    animation: girar 1s infinite linear forwards reverse;
    -webkit-animation: girar 1s infinite linear forwards reverse;
}
.child-box::after{
    content: "Say Hallo!";
    color: aqua;
    position: relative;
    top: 30%;
    right: -40%;
   
}
.child-box::before{
    content: "Josué";
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: bold;
    top: 40%;
    right: -45%;
    
   
}
h1{
    color: rgb(255, 0, 225);
    color: linear-gradient(to bottom right, rgb(0, 213, 255), rgb(200, 20, 20)) ;
}
