body{
    background-color: rgb(123, 44, 118);
}
*{
    color: aliceblue;
}
.container{
    background-color: rgb(168, 98, 98);
    display: grid;
    grid-auto-columns: repeat(8, 110px);
    grid-auto-rows: repeat(auto-fill, 100px);
    gap:5px 0px; 
    
}
.container__item{
    background-color: rgb(193, 168, 168);
    border: 1.5px solid rgb(122, 119, 119);
    
}
