body{
    background-color: rgb(68, 41, 85);
}
*{
    border-color: rgb(255, 4, 167);
    padding: 0;
    margin: 0;
}
.contenedor{
    height: 100vh;
    width: 100vh;
    background-color:aliceblue;
    
}

.contenedor_items{
    height: auto;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    line-height: 300px;
    text-align: center;
    
}

.rosa{
    background-color: rgb(255, 0, 217);
    box-shadow: 0 0 20px rgb(241, 119, 212);
    position:relative;
}
.rojo{
    background-color: rgb(223, 10, 10);
    box-shadow: 0 0 20px rgb(244, 107, 107); 
    position:relative;
}
.verde{
    background-color: rgb(76, 236, 97);
    box-shadow: 0 0 20px rgb(151, 232, 143);
    position:relative;
}
.marillo{
    background-color: rgb(239, 239, 18);
    box-shadow: 0 0 20px rgb(224, 225, 117);
    position:relative;
}
.azul{
    background-color: rgb(0, 8, 255);
    box-shadow: 0 0 20px rgb(22, 146, 234);
    position:relative;
}
.negro{
    background-color: rgb(8, 12, 11);
    box-shadow: 0 0 20px rgb(16, 16, 12);
    color: #fff;
    position:relative;
}

/* hover */
.contenedor:hover{
    height: 50vh;
    width: auto;
    background-color:aliceblue;
    display: flex;
}